Source: octoscreen
Section: devel
Priority: optional
Maintainer: Debian Go Packaging Team <pkg-go-maintainers@lists.alioth.debian.org>
Uploaders: Máximo Cuadros <aleksei.wm@gmail.com>
Build-Depends: debhelper (>= 9),
               dh-golang,
               dh-systemd,
               libcairo2-dev (>= 1.14.0),
               libgtk-3-dev (>= 3.14)
Standards-Version: 4.1.1
Homepage: https://github.com/Z-Bolt/OctoScreen
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-go/packages/octoscreen.git
Vcs-Git: https://anonscm.debian.org/git/pkg-go/packages/octoscreen.git
XS-Go-Import-Path: github.com/Z-Bolt/OctoScreen
Testsuite: autopkgtest-pkg-go

Package: octoscreen
Architecture: any
Built-Using: ${misc:Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends},
         libcairo2 (>= 1.14.0),
         libgtk-3-0 (>= 3.14),
         xserver-xorg,
         xinit
Provides: x-display-manager
Description: A OctoPrint touch interface for TFT touch modules based on GTK+3
 OOctoScreen OOctoScreen, a touch interface for TFT touch modules
 based on GTK+3.
 .
 Is a X application to be executed directly in the X Server without any
 windows manager, as frontend of a OctoPrint (http://octoprint.org)
 server in a Raspberry Pi equipped with any TFT Touch module
 (https://www.waveshare.com/wiki/3.5inch_RPi_LCD_(A)).
 .
 Allows you to control your 3D Printer, like you can do with any TFT/LCD
 panel (http://reprap.org/wiki/RepRapTouch), but using OctoPrint and a
 Raspberry Pi.
