[Unit]
Description=OctoScreen Boot Splash Screen
DefaultDependencies=no
After=local-fs.target

[Service]
EnvironmentFile=/etc/octoscreen/config
ExecStart=/bin/bash /etc/octoscreen/boot_splash.sh /dev/fb0
StandardOutput=journal+console
StandardInput=tty

[Install]
WantedBy=sysinit.target
WantedBy=multi-user.target
